.expenses_list {
  list-style: none;
  padding: 0;
}
  
.expenses_list__fallback{
  color: white;
  background-color: #4b4b4b;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 7px;
  transform: scale(0.96);
  text-align: center;
}

.expenses_list__fallback:hover{
  transform: scale(1);
}